.containers {
    width: 97%;
    margin: auto;
    background: #fff;
    
}

.containers > p {
    float: right;
    background-color: #A12B2B;
    color: #fff;
    padding: 3px;
    border-radius: 6px;
    font: 500 12px "Roboto", sans-serif;
    cursor: pointer;
}

.containers > div:nth-child(3) > input {
    width: 28%;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    font: 500 14px "Roboto", sans-serif;
    box-shadow: 0px 0px 8px 2px rgba(117, 116, 116, 0.25);
    border-radius: 5px;
    color: #5B5B5B;
}

.containers > div:nth-child(3) {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.containers > div:nth-child(3) > input::placeholder {
    font: 500 12px "Roboto", sans-serif;
    color: #5B5B5B;
}

.containers > div:nth-child(1) {
    display: flex;
    gap: 2px;
}

.span {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 4em;
}

.span > div > span:nth-child(1) {
  background-color: #5B5B5B;
  border-radius: 7px;
  font: 500 12px "Roboto", sans-serif;
  padding: 3px 7px;
  color: #fff;
}

.span > div > span:nth-child(2) {
  font: 500 12px "Roboto", sans-serif;
}

.containers > div > button {
    padding: 7px;
    border: none;
    border: 2px solid #a50032;
    cursor: pointer;
    background: #ddd;
}

.tab.active {
    background: #a50032;
    color: white;
}

.containers > div:nth-child(2) {
    display: flex;
    gap: 7px;
    margin-top: 20px;
}

.containers > div:nth-child(2) > .feilds {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.containers > div:nth-child(2) > .feilds > input, select {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    font: 800 14px "Roboto", sans-serif;
    box-shadow: 0px 0px 8px 2px rgba(117, 116, 116, 0.25);
    border-radius: 5px;
}

.containers > div:nth-child(2) > .feilds > label {
    color: #5B5B5B;
    font: 300 12px "Roboto", sans-serif;
}

.containers > div:nth-child(3) > label {
    color: #5B5B5B;
    font: 300 12px "Roboto", sans-serif;
}

.search-input {
    flex: 1;
    padding: 8px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 0;
    box-shadow: 0px 8px 16px 4px rgba(117, 116, 116, 0.25);
}

.data-table td {
    padding: 8px;
    font: 548 15px "Roboto", sans-serif;
}

tr, td{
    border: 2px solid #E5E5E5;
    border-top: none;
    border-left: none;
}

.data-table  th {
    background-color: #F3F2F2;
    padding: 7px;
    text-align: left;
    font: 540 14px "Roboto", sans-serif;
}

th:nth-child(1) {
    text-align: center;
}

td:nth-child(1) {
    text-align: center;
}

.name1 {
    display: inline-block;
    margin-top: 4px;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #5B5B5B;
    color: #fff;
    font: 400 12px "Roboto", sans-serif;
}

small {
    float: right;
    background-color: #A12B2B;
    color: #fff;
    padding: 3px;
    border-radius: 6px;
    font: 500 10px "Roboto", sans-serif;
    cursor: pointer;
}

.status-btn {
    padding: 3px;
    background: #a50032;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 60%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 1000;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background: #a50032;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}



/* Membership History */
.membership-history {
    width: 410px;
    position: relative;
    bottom: 7em;
    left: 54em;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 8px 2px rgba(117, 116, 116, 0.25);
  }

  #membershipHistory {
    display: none;
  }

  
  .membership-history > div:nth-child(1) {
    background-color: #A12B2B;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
  
  .membership-history > div:nth-child(1) > button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    float: right;
  }

  
  .table {
    width: 98%;
    border-collapse: collapse;
    margin: 10px 0;
  }

  .div {
    background-color: #fff;
    padding: 8px;
    overflow-y: auto;
    max-height: 300px;
    border: 1px solid #ccc;
  }

  .table > tbody > tr:nth-child(1) > td {
    color: black;
  }

  
  thead > tr > td {
    padding: 7px;
    font: 400 14px "Roboto", sans-serif;
  }
  
  .table > tbody td {
    padding: 10px;
    text-align: left;
    border-top: 1px solid #ddd;
    font-size: 14px;
    font: 400 14px "Roboto", sans-serif;
    color:  #CACACA;

  }

  .table > td {
    width: 30%;
  }
  
  .name {
    font-size: 12px;
    display: inline-block;
    margin-top: 4px;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #5B5B5B;
    color: #fff;
  }

  .name2 {
    font-size: 12px;
    display: inline-block;
    margin-top: 4px;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #d9d9d9;
  }
  
  .valid-date {
    display: inline-block;
    margin-top: 4px;
    background-color: #5B5B5B;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    color: #fff;
  }




  /* Form Input */
  .form-container {
    position: relative;
    left: 35em;
    bottom: 14em;
    width: 544px;
  }

  #formContainer {
    display: none;
  }

  .form-container > form {
    background-color: #fff;
    box-shadow: 0px 0px 9px 2px #00000040;
    padding: 8px;
  }
  
  .form-container > h2, h3 {
    color: #5B5B5B;
    text-align: center;
    font: 500 14px "Roboto", sans-serif;
  }

  /* .form-container > form > div > {
    background-color: red;
  } */


  .form-container > div {
    background-color: #A12B2B;
    text-align: center;
    font: 600 16px "Roboto", sans-serif;
    color: #fff;
    width: 527.5px;
  }
  
  .form-container > form > div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }

  .contain {
    display: flex;
    gap: 5px;
  }

  .contains {
    display: flex;
    gap: 5px;
  }

  .contain > div > label {
    font: 520 14px "Roboto", sans-serif;
  }

  .contain > div > input::placeholder {
    color: #d9d9d9;
  }


  .contain > div > select {
    color: #d9d9d9;
  }

  .contain > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
  }

  .contain > div > input, select {
    width: 242px;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    font: 500 14px "Roboto", sans-serif;
    box-shadow: 0px 0px 8px 2px rgba(117, 116, 116, 0.25);
    border-radius: 5px;
  }

  .contains > div > input {
    width: 242px;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    font: 500 14px "Roboto", sans-serif;
    box-shadow: 0px 0px 8px 2px rgba(117, 116, 116, 0.25);
    border-radius: 5px;
  }

  .contains > div:nth-child(1) > input{
    background-color: #E5E5E5;
  }

  .contain > div > select {
    width: 263px;
  }
  
  .form-container > form > button {
    width: 70px;
    padding: 10px;
    background-color: #d0021b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-containeer > form > button:hover {
    background-color: #a50016;
  }







  