*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: fit-content;
}

/* Header section */
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 24px 33px;
    margin-bottom: 21px;
    box-shadow: 0px 8px 4px -4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height: 80px;
}

.top-header > section:nth-child(1){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 33px;
}



.top-header > section:nth-child(1) > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-header > section:nth-child(1) > div > h1 {
    font: 300 25px "Roboto", sans-serif;
    border: 6px solid #9C3030;
    padding: 4px;
    width: 140px;
    color: #9C3030;
}

.top-header > section:nth-child(1) > div > img {
    background-color: #9C3030;
    width: 45px;
    padding: 7px;
}

.top-header > section:nth-child(1) > h2 {
    font: 700 35px "Roboto", sans-serif;
    text-transform: capitalize;
    color: #5B5B5B;
}

.top-header > section:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.top-header > section:nth-child(2) > img:nth-child(1){
    width: 30px;
    /* height: 41px; */
}

.top-header > section:nth-child(2) > img:nth-child(2){
    width: 35px;
    margin-right: 6px;
}

.top-header > section:nth-child(2) > p {
    font: 700 22px "Roboto", sans-serif;
    text-transform: capitalize;
    white-space: nowrap;
    color: #5B5B5B;
}



/* Mobile view for Header section */
@media screen and (max-width: 720px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        justify-content: space-between;
        width: 100%;
    }

    .logo .lab-name {
        display: none;
    }

    .user-profile {
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    .user-profile .user-icon {
        width: 25px;
    }

    .user-profile .user-name {
        font-size: 14px;
    }

    .logo img.img {
        width: 30px;
    }

    .logo .span {
        font-size: 16px;
    }
}


/* Container section */
.container {
    display: flex;
    justify-content: space-between;
}

aside {
    height: 619px;
    overflow-y: auto;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 5px -3px 10px -4px rgba(0, 0, 0, 0.2);
    align-items: center;
    gap: 45px;
    padding: 40px 18px 180px;
    margin-top: 2px;
}

aside > .nav-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}


.nav-content > div > p {
    font-size: 1.2em;
    font-weight: bold;
}

.nav-content > svg{
    width: 20px;
    height: 20px;
}
.nav-content:nth-of-type(9) > div > p {
    text-decoration: underline 5px;
    text-underline-offset: 10px;
    text-decoration-color: #e74c3c;
}

/* main */
main {
    background-color: #fff;
    margin-top: 2px;
    padding: 20px;
    box-shadow: -7px -3px 10px -2px rgba(0, 0, 0, 0.2);
    height: 620px;
    width: 1040px;
}

.blank-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
}

.blank-heading > p {
    font: 600 24px "Roboto", sans-serif;
    text-transform: capitalize;
    color: #5B5B5B;

}

.blank-heading > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.blank-heading > div > p {
    font: 200 18px "Roboto", sans-serif;
    color: #C4C4C4;
}

.blank-heading > div > p:last-child {
    font: 900 18px "Roboto", sans-serif;
    color: #5B5B5B;
}

.blank-heading > div > svg{
    width: 15px;
    height: 15px;
    fill: #5B5B5B;
}

/* table */
.drug-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 95px;
}

.drug-table > h4{
    font: 500 15px "Roboto", sans-serif;
    
}

.drug-table > table{
    width: 100%;
    border: 0;
    border-collapse: collapse;
    box-shadow: 0px 8px 16px 4px rgba(117, 116, 116, 0.25);
    overflow-x: auto;
}

tr, th, td{
    border: 2px solid #E5E5E5;
    border-top: none;
    border-left: none;
}

th:nth-last-child(1), td:nth-last-child(1){
    border-right: 1px solid transparent;
}

th {
    background-color: #F3F2F2;
    padding: 7px;
    text-align: left;
    font: 900 14px "Roboto", sans-serif;
}

th:nth-child(1) {
    text-align: center;
}

td {
    padding: 8px 20px;
    font: 500 12px "Roboto", sans-serif;
}

.medicine-name > p {
    margin-bottom: 3px;
}

.medicine-name > button, .action > button {
    color: #fff;
    background-color: #8F8989;
    font: 500 10px "Roboto", sans-serif;
    border: 0;
    outline: none;
    padding: 2px 6px;
    border-radius: 6px;
}

.action > button {
    background-color: #e74c3c;
    cursor: pointer;
}

td:nth-child(1) {
    color: #505050;
    font: 500 15px "Roboto", sans-serif;
    text-align: center;
}

/* select option */
.select-options{
    display: flex ;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
    margin-bottom: 37px;
}

.select-options > button{
    background-color: #e74c3c;
    color: #fff;
    padding: 3px 8px;
    border: none;
    font: 700 13px "Roboto", sans-serif;
    cursor: pointer;
    border: 1px solid #e74c3c;
    text-overflow: ellipsis;
}

.select-options >button:nth-child(1){
    background-color: #fff;
    color: #e74c3c;
    border: 1px solid #e74c3c;
    padding: 2px;
}

/* Add drug section */
.add-drug {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.add-drug > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.add-drug > div > p {
    font: 900 13px "Roboto", sans-serif;
}

.add-drug > div:nth-child(1) {
    width: 29.2%;
}
.add-drug > div:nth-child(2) {
    width: 24.2%;
}
.add-drug > div:nth-child(3) {
    width: 27.8%;
}
.add-drug > div:nth-child(4) {
    width: 11.8%;
}
.add-drug > div > input{
    width: 100%;
    padding: 10px 10px 5px 23px;
    border: 0;
    outline: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2);
    font: 500 15px "Roboto", sans-serif;
}
.add-drug > div > input:nth-last-child(1){
    padding: 7px;  
}
.add-drug > div > ::placeholder{
    color: #C4C4C4;
    font: 300 14px "Roboto", sans-serif;
}
.add-drug > button {
    font: 900 14px "Roboto", sans-serif;
    color: #fff;
    background-color: #A12B2B;
    padding: 6px 9px;
    border: 1px solid var(--tertiary_color);
    border-radius: 5px;
    margin-left: 4px;
    cursor: pointer;
    margin-top: 22px;
}
.add-drug > div > section{
    width: 100%;
    height: 107px;
    background-color: #fff;
    padding: 20px 6px 5px;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.add-drug > div > section > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font: 400 12px "Roboto", sans-serif;
}


/* Mobile view for container side */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    aside {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
        height: 400px;
        margin-bottom: 3px;
        border-bottom: 2px solid #ccc;
    }

    main {
        width: 100%;
        border-left: 0px;
        border-bottom: 1px solid #ccc;
    }

    nav ul li {
        justify-content: space-between;
    }

    aside ul li i {
        margin-right: 10px;
    }

    nav ul li a {
        width: 40%;
    }

    .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
    }

    .breadcrumb span {
        margin-right: 5px;
    }

    .sp {
        font-weight: 750;
    }
}


.button-section {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 72%;
    padding: 0 32px;
}

.button-section > button {
    position: absolute;
    left: 20em;
    top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 9px;
    padding: 9px 9px 9px 22px;
    text-transform: uppercase;
    font: 900 14px "Roboto", sans-serif;
    color: #fff;
    background-color: #A12B2B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Footer section */
footer {
    margin-top: 4em;
    width: 80%;
    display: flex;
    float: right;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
    font-size: 15px;
    font-weight: 900;
}

footer a {
    text-decoration: none;
    margin: 0 5px;
    font-weight: 900;
    color: black;
}

/* Mobile view for Footer section */
@media screen and (max-width: 1000px) {
    footer p {
        font-size: 12px;
        line-height: 1.5;
    }

    footer {
        width: 100%;
        border-left: 0px;
        border-right: 0px;
    }

    footer p a {
        display: inline-block;
        margin-top: 5px;
        font-size: 12px;
    }
}


